#footer{
    width: 100%;
    height: 5vh;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

}

#f-text{    
    font-family: var(--font_text1);
    font-weight: 700;
    font-size: 1.1em;
    color: var(--color_primary);
    letter-spacing: .1vw;
}

@media screen and (max-width: 768px) {
    #f-text{
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {
    #f-text{
        font-size: small;
    }
}