:root{
    --box_color:#fffdfb;
    --color_shadow:#ebe5df;
    --blur:10px;
    --color_text: #888;
    --color_btn:#fff1db;
}

#main{
    padding: 0 2vw;
    font-family: var(--font_text2);

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2vw;
}

#s-encrypted-message{
    padding: 0 1vw;
    border-radius: 10px;
    box-shadow: -8px 0px var(--blur) var(--color_shadow), 8px 0px var(--blur) var(--color_shadow);
    background-color: var(--box_color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#m-box-img{
    scale: .9;
}

#s-encrypted-text{
    text-align: center;
}
#subtitle{
    font-family: var(--font_text1);
    font-size: 1.8em;
    font-weight: 700;
    color: var(--color_primary);
    cursor: default;
    margin-bottom: 1vh;
}
.pharagraph{
    color: var(--color_text);
    font-weight: 300;
}

#s-message{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 4fr auto;
    gap: 10px;
}

#message{
    font-family: var(--font_text2);
    font-weight: 300;
    font-size: 1.5em;
    color: var(--color_text);
    resize: none;
    outline: none;
    border: none;

    grid-column: 1 /5;
}

#label{
    grid-column: 1;
    grid-row: 2;
}

.c-btn{
    width: 22vw;
    min-height: 8vh;
    border: 1px solid var(--color_primary);
    border-radius: 10px;
    background-color: var(--color_primary);

    color: var(--box_color);
    font-weight: 300;
    font-size: medium;
    
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}
.c-btn:hover{
    animation-name: btn;
    animation-duration: 900ms;
}

@keyframes btn {
    from{
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    to{
        scale: 1;
    }
    
}

#encrypt{
    grid-row: 3;
    grid-column: 1;
}

#decrypt{
    border: 1px solid var(--color_primary);
    background-color: var(--color_btn);
    color: var(--color_primary);

    grid-row: 3;
    grid-column: 2;
}

@media screen and (max-width: 768px ){
    
    #main{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #message{
        font-size: 1.3em;
    }

    .c-btn{
        margin: 0 auto;
        font-size: small;
        min-height: 7vh;
        min-width: 25vw;
    }

    #m-box-img{
        display: none;
    }

    #s-encrypted-message{
        width: 80vw;
        height: auto;
        padding: 2vh 0;
        margin: 0 auto;
    }

    #subtitle{
        font-size: 1.7em;
    }
    .pharagraph{
        font-size: small;
    }
}

@media screen and (max-width: 375px) {
    #s-message{
        display: flex;
        flex-direction: column;
    }

    .c-btn{
        width: 90%;
    }

    #s-encrypted-message{
        width: 90%;
    }
}